<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t/%level] [%c{2.}/%markerSimpleName]: %msg{nolookup}%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console" level="${sys:sanitizer.logging.console.level:-info}"/>
        </Root>
    </Loggers>
</Configuration>
